@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: auto;
}

html, body {
  overflow: auto;
}

.active {
  font-weight: bold !important;
}

.siteName {
  font-size: 2rem;
}

.profiles {
  /* background-color: aliceblue; */
  width: 300px;
  gap: 2rem;
  /* flex-wrap: wrap; */
}

#map{
  max-width: 720px;
  max-height: 360px;
}